@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{

    height: 120px;
    width: 100%;
}
.contenedor_h{
    width: 100%;
    flex-wrap: nowrap;
}
.h_images{
    margin-top: 10px;
    width: fit-content;
}
.Botones{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
}
.Botones a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #01191C;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    margin-top: 45px;
}
.seccion1{
    margin-top: -120px;
    z-index: -1;
    position: relative;
}
.TituloH1 h1{
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    width: 50%;
    color: #01191C;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 230px;
}
.TituloH1 cite{
    font-family: "Mynerve", cursive;
    font-size: 25px;
    margin-right: 35%;
    margin-top: 200px;
    position: absolute;
}
.TituloH1 p{
    width: 45%;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-family: "Mynerve", cursive;
    position: absolute;
    margin-top: 400px;
}
.s1_row1{
    margin-top: 600px;
    position: absolute;
    flex-wrap: nowrap;

}
.s1_row1 .col-2{
    font-size: 45px;
    color: aliceblue;
    width: fit-content;
}
.s1_row1 .col-8{
    width: fit-content;
    padding-left: 100px;
    padding-right: 100px;
}
.s1_row1 .col-8 button{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #01191C;
    padding: 0px 100px;
}
.s3_pic{
    width: 370px;
    height: 310px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    border-radius: 25px 25px 0px 0px;
}
.s3_desc h2{
    font-family: "Roboto", sans-serif;
    color: #03525c;
    font-weight: 800;
    font-size: 45px;
    width: 35%;
    padding: 20px;
    text-align: center;
}
.s3_desc p{
    font-family: "Mynerve", cursive;
    color: #01191C;
    font-size: 20px;
}
.c_activities{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.actividades{
    margin-left: -12%;
    flex-wrap: nowrap;
    width: fit-content;
}
.activity{
    padding: 0px;
    margin: 0px 18px 0px 18px;
    width: 370px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 40px -13px rgba(0,0,0,0.37);
}
.activity_cont h3{
    font-size: 38px;
    text-justify: inter-word;
}
.activity_rate{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    align-items: center;
}
.activity_rate span{
    width: fit-content;
    font-size: 16px;
    padding-left: 11px;
    color: orange;
}
.activity_rate cite{
    width: fit-content;
    font-size: 12px;
    padding: 0px;
}
.activity_rate a{
    cursor: help;
    width: fit-content;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
}
.activity_cont p{
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    text-align: justify;
    text-justify: inter-word;
}
.route{
    width: 100%;
}
